.close_button{
  padding: 0;
    background-color: transparent;
    border: none;
    width: 30px;
    aspect-ratio: 1;
    position: relative;
    cursor: pointer;
    
  &__wrapper {
    display: flex;
   align-items:center;
 
  }

  &::before,&::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 7px;
    width: 70%;
    height: 2px;
    background-color: black;
    border-radius:70px;
}
&::before {
  rotate: 45deg;
}
&::after {
  rotate: -45deg;
}
 
}