:root {
  --color-dark:#262C40;
  --color-light:#FFFFFF;
   --color-alt:#8189A3;
   --svg-color:#432EAB;
   --input-height:48px;
  --border-radius: 16px;
  --border-radius-large: 24px;
  --container-padding-x:25px;
  --shadow:inset 3px 3px 6px #EEE5E9;
  --section-padding-y:32px;
  --body-with-container: 1280px;
  --container-width:1120px;
  --font-family-base:"Proxima Nova Rg", sans-serif;

  
}